{{- range .items -}}
    {{- "Node: "}}{{.metadata.name}}{{"\n"}}
    {{- "Images:\n"}}
    {{- range .status.images -}}
        {{- range .names -}}
            {{- "\t"}}{{ . }}{{"\n"}}
        {{- end -}}
    {{- end -}}
    {{- "\n"}}
{{- end -}}
