[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory=/var/lib/grafana
ExecStart=/usr/local/bin/grafana         \
--config=/etc/grafana/grafana.ini         \
--pidfile=/var/lib/grafana/grafana.pid     \
cfg:default.paths.logs=/var/log/grafana            \
cfg:default.paths.data=/var/lib/grafana             \
cfg:default.paths.plugins=/var/lib/grafana/plugins   \
cfg:default.paths.provisioning=/etc/grafana/provisioning  

[Install]
WantedBy=multi-user.target
