[Unit]
Description=Promtail
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/promtail \
--config.file /etc/loki/promtail.yml

[Install]
WantedBy=multi-user.target
