{{- range .items -}}
    {{ $name := .metadata.name }}
    {{- range .spec.containers -}}
        {{- if not .resources.limits -}}
            {{"no limits for: "}}{{$name}}{{"/"}}{{.name}}{{"\n"}}
        {{- end -}}
    {{- end -}}
{{- end -}}
